# Python Practice Lecture 5 MATH 342W Queens College 
## Author: Amir ElTabakh
## Date: February 10, 2022

### Agenda
- Loading datasets
- `.iloc()` and list comprehension
- The null model
- The Threshold model
- The Perceptron model

In this practice demo we will go over how to import datasets, both from Python libraries and locally. There are a number of standard datasets used to practice one's data science skills. Many of these datasets are accesible via Python libraries.

### Scikit learn (sklearn)
Scikit-learn is the most useful and robust library for machine learning in Python. It provides a selection of efficient tools for ML and statistical modeling including classification, regression, clustering and dimensionality reduction (which we won't get to) via Python. This library is largely written in Python and utilizes the NumPy, SciPy and Matplotlib packages. The library was initially developed by David Courpnapeau as a Google Summer of Code project in 2007. Later some scientists from the French Institute of Research in Computer Science and Automation took this project to another level and made the first public release in 2010.

There are so many libraries that provide different datasets to demo in Python. You can read up on some [here](https://towardsdatascience.com/datasets-in-python-425475a20eb1). 

- ️pydataset: Dataset package,
- ️seaborn: Data Visualisation package,
- ️sklearn: Machine Learning package,
- ️statsmodel: Statistical Model package and
- ️nltk: Natural Language Tool Kit package

In [1]:
# Install sklearn
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in e:\users\amira\anaconda\lib\site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\users\amira\anaconda\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: numpy>=1.14.6 in e:\users\amira\anaconda\lib\site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in e:\users\amira\anaconda\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=1.1.0 in e:\users\amira\anaconda\lib\site-packages (from scikit-learn) (1.5.2)

WARNING: Ignoring invalid distribution -ip (e:\users\amira\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\users\amira\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\users\amira\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\users\amira\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\users\amira\anaconda\lib\site-packages)

### Boston Housing Dataset sklearn
The sklearn Boston dataset is used wisely in regression and is a famous dataset that was published in 1978. There are 506 instances and 14 attributes, which we will explore later.

First we will load the Boston Housing dataset, lightly explore the documentation, and then load the data into a Pandas DataFrame.

In [2]:
# Import sklearn's datasets module
from sklearn import datasets

# Lines below are just to ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Load the Boston Housing dataset as bh
bh = datasets.load_boston()

# The Boston dataset is essentially a dictionary, let's check it's keys
bh.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

The Boston Housing 'dictionary' contains data `X`, target feature `y`, feature names `p` and DESCR is the description of the data.

In [3]:
print(bh['DESCR'])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [4]:
# Import Pandas
import pandas as pd

# Create Boston Housing df
df = pd.DataFrame(data = bh.data, columns = bh.feature_names)

# Load the first 5 rows of df
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
# A quick view on some of the statistical information in our dataset
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

### `pd.DataFrame.iloc`

The `iloc` property gets, or sets, the value(s) of the specified indices in a DataFrame.

To get a single value specify both row and column with their corresponding indices.

`df.iloc[6, 8]`

To access more than one row, use double brackets and specify the indices, separated by commas:

`df.iloc[[0, 2]]` or  `df.iloc[[0, 2], :]`

Specify columns by including their indices in another list:

`df.iloc[[0, 2], [0, 1]]`

You can also specify a slice of the DataFrame with from and to indices, separated by a colon:

`df.iloc[[0:2]]` or  `df.iloc[[0:2], :]`

In [6]:
# Get the 4th row (index 3) of df
df.iloc[3,:]

CRIM         0.03237
ZN           0.00000
INDUS        2.18000
CHAS         0.00000
NOX          0.45800
RM           6.99800
AGE         45.80000
DIS          6.06220
RAD          3.00000
TAX        222.00000
PTRATIO     18.70000
B          394.63000
LSTAT        2.94000
Name: 3, dtype: float64

The above row displayed in this form is called a Pandas Series. A 'series' is what you call a row or column vector in Python.

In [7]:
type(df.iloc[3,:])

pandas.core.series.Series

In [8]:
# Get the element at row 4 column 5
df.iloc[3, 4]

0.458

In [9]:
# What is the type of the value above
type(df.iloc[3, 4])

numpy.float64

In [10]:
# Get rows 2 and 7
df.iloc[[1, 6], [4, 5, 6]]

     NOX     RM   AGE
1  0.469  6.421  78.9
6  0.524  6.012  66.6

The above row values displayed in this form is called a Pandas DataFrame.

In [11]:
type(df.iloc[[1, 6], [4, 5, 6]])

pandas.core.frame.DataFrame

In [12]:
# Get values at rows 2 and 7 and column 0
df.iloc[[2, 7], 0]

2    0.02729
7    0.14455
Name: CRIM, dtype: float64

In [13]:
# Get the last column
df.iloc[:, -1]

0      4.98
1      9.14
2      4.03
3      2.94
4      5.33
       ...
501    9.67
502    9.08
503    5.64
504    6.48
505    7.88
Name: LSTAT, Length: 506, dtype: float64

The above column displayed in this form is called a Pandas Series. So a single row or a single column is a Series.

In [14]:
type(df.iloc[:, -1])

pandas.core.series.Series

In [15]:
# Get all rows 80 through 85, but only columns index 0 through 4
df.iloc[80:86, 0:5]

       CRIM    ZN  INDUS  CHAS    NOX
80  0.04113  25.0   4.86   0.0  0.426
81  0.04462  25.0   4.86   0.0  0.426
82  0.03659  25.0   4.86   0.0  0.426
83  0.03551  25.0   4.86   0.0  0.426
84  0.05059   0.0   4.49   0.0  0.449
85  0.05735   0.0   4.49   0.0  0.449

In [16]:
# Get all rows for the first 7 columns
df.iloc[:, :7]

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2
..       ...   ...    ...   ...    ...    ...   ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8

[506 rows x 7 columns]

Great, now you know how to crop your data. This could be useful for identifying elements and extracting/excluding data.

### List Comprehension

Let's add another skill to our growing arsenal. Python is known for easy-to-understand and efficient programming. One of the most distinctive aspects of the language is the Python list and the list comprehension feature, which we can use within a single line of code to construct powerful functionality. List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element.

List comprehension also runs faster than for loops.

`newList = [ expression(element) for element in oldList if condition ]`

Lets take a look at it in action.

In [17]:
# multiply each element in this list by 2 and cast as an int using list comprehension
some_elements = [2.33, 4.56, 88.9, 34, 103.23]

new_elems = [int(x * 2) for x in some_elements] # notice int() rounds to the floor
new_elems

[4, 9, 177, 68, 206]

In [18]:
# Import required module
import time


# define function to implement for loop
def for_loop(n):
    result = []             # empty list
    for i in range(n):      # iterate n times
        result.append(i**2) # append i^2 to list
    return result           # return the now populated list


# define function to implement list comprehension
def list_comprehension(n):
    return [i**2 for i in range(n)]
 

    
# Driver Code 
 
# Calculate time takens by for_loop()
begin = time.time()
for_loop(10**7)
end = time.time()
 
# Display time taken by for_loop()
print('Time taken for_loop:',round(end-begin,2))



# Calculate time takens by list_comprehension()
begin = time.time()
list_comprehension(10**7)
end = time.time()
 
# Display time taken by for_loop()
print('Time taken for list_comprehension:',round(end-begin,2))

Time taken for_loop: 2.48
Time taken for list_comprehension: 2.05

## Building Models

We'll recreate our DataFrame from the last demo.

In [19]:
# Generating list of n many salaries
from random import gauss
# We will use the numpy library
import numpy as np


list_of_names = ["Sophia", "Emma", "Olivia", "Ava", "Mia", "Isabella", "Riley", 
                      "Aria", "Zoe", "Charlotte", "Lily", "Layla", "Amelia", "Emily", 
                      "Madelyn", "Aubrey", "Adalyn", "Madison", "Chloe", "Harper", 
                      "Abigail", "Aaliyah", "Avery", "Evelyn", "Kaylee", "Ella", "Ellie", 
                      "Scarlett", "Arianna", "Hailey", "Nora", "Addison", "Brooklyn", 
                      "Hannah", "Mila", "Leah", "Elizabeth", "Sarah", "Eliana", "Mackenzie", 
                      "Peyton", "Maria", "Grace", "Adeline", "Elena", "Anna", "Victoria", 
                      "Camilla", "Lillian", "Natalie", "Jackson", "Aiden", "Lucas", 
                      "Liam", "Noah", "Ethan", "Mason", "Caden", "Oliver", "Elijah", 
                      "Grayson", "Jacob", "Michael", "Benjamin", "Carter", "James", 
                      "Jayden", "Logan", "Alexander", "Caleb", "Ryan", "Luke", "Daniel", 
                      "Jack", "William", "Owen", "Gabriel", "Matthew", "Connor", "Jayce", 
                      "Isaac", "Sebastian", "Henry", "Muhammad", "Cameron", "Wyatt", 
                      "Dylan", "Nathan", "Nicholas", "Julian", "Eli", "Levi", "Isaiah", 
                      "Landon", "David", "Christian", "Andrew", "Brayden", "John", 
                      "Lincoln"]

n = len(list_of_names)
mu = 50000 # mean
sigma = 20000 # variance
salaries = []

for i in range(n):
    salaries += [int(gauss(mu, sigma))]
    

# Generating list of n many past_crime_severity values
items = ["no crime", "infraction", "misdimeanor", "felony"]
probs = [.50, .40, .08, .02]
past_crime_severity = np.random.choice(items, n, p = probs) # run `help(choices)` to read documentation


# Generating list of n many has_past_unpaid_loan values
has_past_unpaid_loan = np.random.binomial(n = 1, size = n, p = 0.2)

# Generating response feature y
paid_back_loan = np.random.binomial(n = 1, size = n, p = 0.9)


# Initializing Pandas DataFrame
df = pd.DataFrame({'Salary' : pd.Series(salaries, index = list_of_names),
                  'past_crime_severity' : pd.Series(past_crime_severity, index = list_of_names),
                  'has_past_unpaid_loan' : pd.Series(has_past_unpaid_loan, index = list_of_names),
                  'paid_back_loan' : pd.Series(data = paid_back_loan, index = list_of_names)
                  })

# Cast the has_past_unpaid_loan feature as bool
df['has_past_unpaid_loan'] = df['has_past_unpaid_loan'].astype('bool')

df.head()

        Salary past_crime_severity  has_past_unpaid_loan  paid_back_loan
Sophia   61399          infraction                 False               1
Emma     56945          infraction                 False               1
Olivia   49087            no crime                 False               1
Ava      52389            no crime                 False               1
Mia      59413         misdimeanor                 False               1

Note that our DataFrame does not just comprise of `X`, it also has `y`. Professor Kapelner likes to create a new object called `Xy` to denote that the data contains both the descriptive features and the response variable. It is the Python standard to call the DataFrame just `df` if you do not have any other DataFrames in the current instance, so we'll stick with that.

### The Null Model

The `y` variable we wish to predict on is `paid_back_loan`. This variable is discrete, not continuous, so our null model $g_0$ will consider the mode of `y` rather than the mean.

In [20]:
# Defining the null model
g_0 = df['paid_back_loan'].mode()[0] 
g_0

1

### The Threshold Model

Let's compute the threshold model and see what happens. Here's an inefficent but quite pedagogical way to do this:

In [21]:
n = len(df)
y_logical = df['paid_back_loan']
threshold_param = []
num_errors = []

for i in range(0, n):
    threshold = df['Salary'][i]
    threshold_param += [threshold]
    num_errors += [sum((df['Salary'] > threshold) != y_logical)]
    
num_errors_by_parameter = {"threshold_param": threshold_param, "num_errors": num_errors}
num_errors_by_parameter = pd.DataFrame(num_errors_by_parameter)

num_errors_by_parameter

    threshold_param  num_errors
0             61399          76
1             56945          68
2             49087          47
3             52389          55
4             59413          72
..              ...         ...
95            69350          85
96            45395          41
97            44155          35
98            48404          45
99            55918          63

[100 rows x 2 columns]

In [22]:
# Look at all of the threshold_params in order
num_errors_by_parameter.sort_values(by = 'num_errors')

    threshold_param  num_errors
23            14573           6
6             16781           7
5             17527           8
62            17632           9
11            21119          10
..              ...         ...
28            86628          91
55            89923          92
79            92340          93
48            96780          94
49           100218          95

[100 rows x 2 columns]

In [23]:
# Sort the df by `num_errors`
ordered_num_errors_by_parameter = num_errors_by_parameter.sort_values(by = 'num_errors')

In [24]:
# Identify the threshold_param with the least errors
best_row = ordered_num_errors_by_parameter.iloc[0]
best_row

threshold_param    14573
num_errors             6
Name: 23, dtype: int64

In [25]:
# get best threshold_param
x_star = best_row[0]
x_star

14573

Lets program `g`, the model that is shipped as the prediction function for future $x_*$.

In [26]:
# define predictive function g
def g(x):
    if x > x_star:
        return 1
    else:
        return 0

In [27]:
# Test 1
print(g(15000))

# Test 2
print(g(5000))

# Is this expected?

1
0

Great! We just built a Threshold model, now lets move onto the last model of the demo.

## The Perceptron Model

Let's import the Breast Cancer dataset for this.

In [28]:
# Importing dataset
from sklearn.datasets import load_breast_cancer

# Initializing dataset
BC = load_breast_cancer()

# Check out the keys in the dataset
BC.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [29]:
# Good documentation is important
BC['DESCR']

'.. _breast_cancer_dataset:\n\nBreast cancer wisconsin (diagnostic) dataset\n--------------------------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 569\n\n    :Number of Attributes: 30 numeric, predictive attributes and the class\n\n    :Attribute Information:\n        - radius (mean of distances from center to points on the perimeter)\n        - texture (standard deviation of gray-scale values)\n        - perimeter\n        - area\n        - smoothness (local variation in radius lengths)\n        - compactness (perimeter^2 / area - 1.0)\n        - concavity (severity of concave portions of the contour)\n        - concave points (number of concave portions of the contour)\n        - symmetry\n        - fractal dimension ("coastline approximation" - 1)\n\n        The mean, standard error, and "worst" or largest (mean of the three\n        worst/largest values) of these features were computed for each image,\n        resulting in 30 features.  For instance, field 0 is Mean Radius, field\n        10 is Radius SE, field 20 is Worst Radius.\n\n        - class:\n                - WDBC-Malignant\n                - WDBC-Benign\n\n    :Summary Statistics:\n\n    ===================================== ====== ======\n                                           Min    Max\n    ===================================== ====== ======\n    radius (mean):                        6.981  28.11\n    texture (mean):                       9.71   39.28\n    perimeter (mean):                     43.79  188.5\n    area (mean):                          143.5  2501.0\n    smoothness (mean):                    0.053  0.163\n    compactness (mean):                   0.019  0.345\n    concavity (mean):                     0.0    0.427\n    concave points (mean):                0.0    0.201\n    symmetry (mean):                      0.106  0.304\n    fractal dimension (mean):             0.05   0.097\n    radius (standard error):              0.112  2.873\n    texture (standard error):             0.36   4.885\n    perimeter (standard error):           0.757  21.98\n    area (standard error):                6.802  542.2\n    smoothness (standard error):          0.002  0.031\n    compactness (standard error):         0.002  0.135\n    concavity (standard error):           0.0    0.396\n    concave points (standard error):      0.0    0.053\n    symmetry (standard error):            0.008  0.079\n    fractal dimension (standard error):   0.001  0.03\n    radius (worst):                       7.93   36.04\n    texture (worst):                      12.02  49.54\n    perimeter (worst):                    50.41  251.2\n    area (worst):                         185.2  4254.0\n    smoothness (worst):                   0.071  0.223\n    compactness (worst):                  0.027  1.058\n    concavity (worst):                    0.0    1.252\n    concave points (worst):               0.0    0.291\n    symmetry (worst):                     0.156  0.664\n    fractal dimension (worst):            0.055  0.208\n    ===================================== ====== ======\n\n    :Missing Attribute Values: None\n\n    :Class Distribution: 212 - Malignant, 357 - Benign\n\n    :Creator:  Dr. William H. Wolberg, W. Nick Street, Olvi L. Mangasarian\n\n    :Donor: Nick Street\n\n    :Date: November, 1995\n\nThis is a copy of UCI ML Breast Cancer Wisconsin (Diagnostic) datasets.\nhttps://goo.gl/U2Uwz2\n\nFeatures are computed from a digitized image of a fine needle\naspirate (FNA) of a breast mass.  They describe\ncharacteristics of the cell nuclei present in the image.\n\nSeparating plane described above was obtained using\nMultisurface Method-Tree (MSM-T) [K. P. Bennett, "Decision Tree\nConstruction Via Linear Programming." Proceedings of the 4th\nMidwest Artificial Intelligence and Cognitive Science Society,\npp. 97-101, 1992], a classification method which uses linear\nprogramming to construct a decision tree.  Relevant features\nwere selected using an exhaustive search in the space of 1-4\nfeatures and 1-3 separating planes.\n\nThe actual linear program used to obtain the separating plane\nin the 3-dimensional space is that described in:\n[K. P. Bennett and O. L. Mangasarian: "Robust Linear\nProgramming Discrimination of Two Linearly Inseparable Sets",\nOptimization Methods and Software 1, 1992, 23-34].\n\nThis database is also available through the UW CS ftp server:\n\nftp ftp.cs.wisc.edu\ncd math-prog/cpo-dataset/machine-learn/WDBC/\n\n.. topic:: References\n\n   - W.N. Street, W.H. Wolberg and O.L. Mangasarian. Nuclear feature extraction \n     for breast tumor diagnosis. IS&T/SPIE 1993 International Symposium on \n     Electronic Imaging: Science and Technology, volume 1905, pages 861-870,\n     San Jose, CA, 1993.\n   - O.L. Mangasarian, W.N. Street and W.H. Wolberg. Breast cancer diagnosis and \n     prognosis via linear programming. Operations Research, 43(4), pages 570-577, \n     July-August 1995.\n   - W.H. Wolberg, W.N. Street, and O.L. Mangasarian. Machine learning techniques\n     to diagnose breast cancer from fine-needle aspirates. Cancer Letters 77 (1994) \n     163-171.'

In [30]:
# Initialize Breast Cancer df
df = pd.DataFrame(data = BC.data, columns = BC.feature_names)

In [31]:
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [32]:
df.describe()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,...,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.048919,0.181162,0.062798,...,16.269190,25.677223,107.261213,880.583128,0.132369,0.254265,0.272188,0.114606,0.290076,0.083946
std,3.524049,4.301036,24.298981,351.914129,0.014064,0.052813,0.079720,0.038803,0.027414,0.007060,...,4.833242,6.146258,33.602542,569.356993,0.022832,0.157336,0.208624,0.065732,0.061867,0.018061
min,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,0.049960,...,7.930000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.020310,0.161900,0.057700,...,13.010000,21.080000,84.110000,515.300000,0.116600,0.147200,0.114500,0.064930,0.250400,0.071460
50%,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.033500,0.179200,0.061540,...,14.970000,25.410000,97.660000,686.500000,0.131300,0.211900,0.226700,0.099930,0.282200,0.080040
75%,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.074000,0.195700,0.066120,...,18.790000,29.720000,125.400000,1084.000000,0.146000,0.339100,0.382900,0.161400,0.317900,0.092080
max,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,0.097440,...,36.040000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

In [33]:
# Define descriptive features
X = df.iloc[:, :9]
X.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809

In [34]:
# Define response feature
y = BC.target
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1])

In [35]:
import numpy as np

# Print num of 1's
np.unique(y, return_counts = True)

(array([0, 1]), array([212, 357], dtype=int64))

First question. Let $\mathcal{H}$ be the set $\{0, 1\}$ meaning $g = 0$ or $g = 1$. What are the error rates then on $\mathbb{D}$?

In [36]:
# If always 0, all the 1's are errors
212 / (212 + 357)

0.37258347978910367

In [37]:
# If always 1, all the 0's are errors
357 / (212 + 357)

0.6274165202108963

If your $g$ can't beat that, either your features $x_1, \ldots, x_p$ are terrible, and/or $\mathcal{H}$ was a terrible choice and/or $\mathcal{A}$ can't pull its weight.

Okay... back to the "perceptron learning algorithm".

Let's do so for one dimension - just "V1" in the breast cancer data. You will do an example with more features for the lab.

In [38]:
MAX_ITER = 100
w_vec = [0, 0]

# Creating 1 vector
n = len(X)
one_vec = []
for i in range(n):
    one_vec.append(1)

# "c-binding"
data = {"1": one_vec, "mean radius": X['mean radius']}
X1 = pd.DataFrame(data)

for iter in range(MAX_ITER):
    for i in range(len(X1)):
        x_i = X1.iloc[i]
        sum_x_and_w_vec = x_i[0] * w_vec[0] + x_i[1] * w_vec[1]
        yhat_i = 1 if sum_x_and_w_vec > 0 else 0
        y_i = y[i]
    
        w_vec[0] = w_vec[0] + (y_i - yhat_i) * x_i[0]
        w_vec[1] = w_vec[1] + (y_i - yhat_i) * x_i[1]
        
w_vec

[722.0, -53.990000000000094]

In [39]:
# What is our error rate

# The @ symbol is used for matrix multiplication (numpy package)
matrix_mult = X1 @ w_vec

yhat = [1 if x > 0 else 0 for x in matrix_mult] # boolean, need to cast

yhat = [int(x) for x in yhat]

y = [int(x) for x in y] # list comprehension

total = 0
for i in range(len(y)):
    if yhat[i] != y[i]:
        total += 1
        
error_rate = round(total/len(y), 4)

print(f"Error rate: {error_rate}")

Error rate: 0.1863